{% extends "layout.html" %}


{% block content %}

<div class="col-md-{{ grid_size }} grid">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="row my-3">
          <legend class="border-bottom mb-2">Add New Field</legend>
          <div  class="form-label">
            {{ form.post_subject.label(class="form-label") }}

            {% if form.post_subject.errors %}
              {{ form.post_subject(class="form-control form-control-md is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.post_subject.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.post_subject(class="form-control form-control-md") }}
            {% endif %}

            </div>
        </fieldset>

        <div class="form-label mt-2 mb-2">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>

    </form>


    <!-- List out fields in the database -->
    <div class=" border-top py-5">
        <h5 class="ps-3">All Fields in the Database (alphabetically):</h5>
        <small class="row m-1 ps-2 text-muted">Click to update or delete field</small>
        <div class="list-group">
            {% for field in fields_list %}
                <a href="{{ url_for('fields.update_field', subject_id=field.id) }}" class="list-group-item list-group-item-action">
                        {{ field.subject }}
                </a>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}
