{% extends "layout.html" %}
{% block content %}

<div class="container my-2 bg-white border">
    <h5 class="small border-bottom pt-2 pb-1 me-4"> <!--  -->

        <a class="me-2 text-decoration-none text-muted"
           href="{{ url_for('fields.field_posts', field_name=post.field.subject) }}">
            {{ post.field.subject }}
        </a>
        <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
    </h5>
    <div class="">
        <h3 class="text-capitalize text-primary text-center" >
            {{ post.title }}
        </h3>
    </div>

    <!-- THUMBNAIL -->
    <div class="container mt-2 d-block justify-content-center">
      {% if post.thumbnail %}
        <img class="img-thumbnail mx-auto d-block" src="{{ thumbnail_loc }}"
         alt="Post Thumbnail">
        <!-- Photo Credit -->
        {# <!--<div class="card-body">--> #}
        {# <!--<p class="card-text text-center"></p>--> #}
        {# <!--</div>--> #}
      {% endif %}
    </div>

    <!-- POST CONTENT -->
    <p>{{ post.content }}</p>
</div>

{% endblock content %}


{% block sidebar_nav %}

<!-- UPDATE AND DELETE POST LINKS-->
{% if post.author == current_user %}
  <div class="border my-5">
      <h6 class="text-muted">Update / Delete Post</h6>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
    <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
  </div>
{% endif %}

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger btn-sm" type="submit" name="delete" value="delete">
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock sidebar_nav %}
